<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.yghysdr.article">

    <application>
        <activity android:name=".view.NewActivity" />
        <activity android:name=".view.ArticleActivity" />
        <activity android:name=".view.SortActivity" />
    </application>
</manifest>
